body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MainContent {
  flex-grow: 1; /* Make the main content area flex-grow */
  min-height: calc(100vh - 4rem); /* Subtract the height of the header/navbar */
}
.link-button {
  text-decoration: none;
  color: #ffffff;
  background-color: #4CAF50;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 10px; /* optional: add some margin between buttons */
}
